@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #ebede9;
  --background-color: #10141f;
  --card-color: #18191b;
  --button-color: #212225;
  --border-color: #5a6169;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.main__container__pre-name {
  padding-top: 9rem;
  font-size: 5rem;
  opacity: 0.5;
}
.main__container__name {
  margin-left: 1.5rem;
  font-size: 15rem;
}
.main__container__role {
  font-size: 6rem;
}
.main__container__name-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80rem;
}
.main__container__img {
  width: 40rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.main__skills {
  width: 80vw;
  height: 10rem;
  padding: 1rem;
  margin-top: 7rem;
  background-color: #151d28;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.main__links {
  display: flex;
  justify-content: center;
  background-color: #151d28;
  width: 20vw;
  height: 6rem;
  border-top: 0.3rem solid var(--background-color);
}
.main__links-link {
  width: 15rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.main__links-link-icon {
  padding: 1rem 0;
  font-size: 4rem;
  height: 6rem;
}
.main__links-link:hover {
  background-color: #202e37;
}

.material-icons {
  font-size: 4rem;
  color: var(--text-color);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #172038;
  height: 100vh;
  width: 100vw;
}
.projects__title {
  font-size: 4rem;
  font-weight: 500;
  padding: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--background-color);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.projects__container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.project {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #253a5e;
  border-radius: 1rem;
  width: 50rem;
  height: 70rem;
  border: 0.1rem solid #1e1d39;
}
.project__title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
}
.project__description {
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.project__img {
  margin: 3rem 3rem 1rem 3rem;
}
.project__stack {
  margin-top: auto;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  padding: 2rem;
  background-color: #10141f;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.project__stack-skill {
  height: 7rem;
  width: 7rem;
}

.alert {
  width: 40rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #151d28;
  color: var(--text-color);
  border-radius: 0.5rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #a4dddb;
  transition: all 0.3s;
  animation: fadeIn 2s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.blue {
  color: #a4dddb;
}/*# sourceMappingURL=index.css.map */